APP_NAME=CloudOps AI
SERVICE_NAME=cloudops-ai
APP_DESCRIPTION=AI-powered knowledge assistant for Cloud Operations.
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=false

#tracing endpoint
OTLP_TRACES_ENDPOINT=

#GROQ API
GROQ_API_KEY=
GROQ_MODEL=

#DOCUMENT PROCESSING
CHUNK_SIZE=
CHUNK_OVERLAP=

#QDRANT API
QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION=

#GEMINI API
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=
GEMINI_EMBEDDING_DIMENSION=

#RAG CONFIG
RAG_RETRIEVAL_LIMIT=

#NOTION
NOTION_API_KEY=