# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

#Documentation tests
knowledge/tests/

#Documentation
diagramas_arquitectura/*.excalidraw

#ruff cache
.ruff_cache/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
backend.hcl