# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

#Documentation tests
knowledge/tests/

#documentation
diagramas_arquitectura

#ruff cache
.ruff_cache/